.btn-radio {
    margin-right: 10px;
    padding: 5px 5px 0 5px;
}

.btn-radio-select {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px #cacaca solid;
    padding: 5px;
}

