.todo-item-checked {
    text-decoration: line-through;
    color: #8c8c8c;
}

.trash {
    color: #c5c3c5;
    padding-right: 15px;
}

.text {
    padding-left: 10px;
    margin: 0;
}

.trash:hover {
    color: #000000;
}

.icon {
    margin-bottom: .5rem;
}

.checkbox {
    height: 30px;
    width: 30px;
}

.border-list {
    margin-top: .5rem;
    align-items: center;
    display: flex;
    position: relative;
    border-bottom: solid 1px #dadada;
}

.border-list:last-child {
    align-items: center;
    display: flex;
    position: relative;
    border: none;
    border-radius: 0;
}