.todo-item-checked {
    text-decoration: line-through;
    color: #8c8c8c;
}

.text {
    word-wrap: break-word;
    margin: 10px;
}

.trash {
    color: #8c8c8c;
}

.trash:hover {
    color: #000000;
}

.checkbox {
    height: 30px;
    width: 30px;
}

.border-list {
    align-items: center;
    display: flex;
    position: relative;
    padding: 15px 10px;
    margin-top: 5px;
    border-bottom: solid 1px #dadada;
}

.border-list:last-child {
    align-items: center;
    display: flex;
    position: relative;
    padding: 15px 10px;
    margin-bottom: -1px;
    border: none;
    border-radius: 0;
}